body, html {
    margin: 0;
    padding: 0;
    width: 100%;
            -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
            background-color: #B7EB34;

}

html{
  height: 100%;
}
body {
  min-height: 100%;
}



.text-muted {
    color: #F80535;

    display: inline;

    position: relative;

    font: 30px Helvetica, Sans-Serif;

    font-weight: bold;

    letter-spacing: 6px;

      color: rgba(23, 238, 221, 0.5); 

}



.text-muted:after {

    content: "uPic";

    position: absolute; left: 5px; top: 3px;

  
  color: rgba(8, 8, 250, 0.5); 
}


.jumbotron {
    background-color: #4C8BFA;
    border-color: 1px solid black;

}

.container {
    min-height: 100%;
    background-color: #B7EB34;
   
}

.btn-default {
    background-color: #4C8BFA;
    border-color: #4C8BFA;
}

.votepicture:hover, .votepicture:visited{
    background-color: transparent;
    border: none;

}

.votepicture img {
    max-height:400px;
    height:auto;
    width: 400px;
    
}

#image-file{
    background-color: transparent;
    width:200px;
}

#addPic{
    width:100px;
    margin-left:450px;
}
#in{
    width:70px;
    margin-left:10%;
}

#confirmation{
    z-index: 0;
}

#voteBox{
    height:30px;
}
#vote1{
    float: left;
    width:40px;
    height:20px;
}
#vote2{
    float: right;
    width:40px;
    height:20px;
}

#img1{
    float: left;
}
#img2{
    float: right;
}