



.text-muted {

    display: inline;

    position: relative;

    font: 200px Helvetica, Sans-Serif;

    letter-spacing: -5px;

    color: rgba(30,0,255,0.5); 

}



.text-muted:after {

    content: "Pic";

    position: absolute; left: 10px; top: 5px;

    color: rgba(255,0,0,0.5);   

}